.imageWrapper{
    position: relative;
    background: #fff;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    @media (max-width: 768px) {
     
      width: 80vw;
      height: 60vh;
    }
}
.header--wrapper{
    padding: 1rem;
    position: fixed;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.imageTextWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 2;
  }
  .lightText{
    color: #FEFBF6;
  }

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
  }
.sidename{
  padding: 1rem;
  z-index: 100;
  @media (min-width:770px){
      text-transform: uppercase;
      word-spacing: 1rem;
      position: fixed;    
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      z-index: 200;
      transform: rotate(-90deg) ;
      /* Legacy vendor prefixes that you probably don't need... */
  
      /* Safari */
      -webkit-transform: rotate(-90deg) ;
  
      /* Firefox */
      -moz-transform: rotate(-90deg) ;
  
      /* IE */
      -ms-transform: rotate(-90deg) ;
  
      /* Opera */
      -o-transform: rotate(-90deg) ;
  
      
  }
  @media (max-width: 768px) {
    display: none;
  }
  
}
.heading--large{
    font-size: 10rem;
    @media (max-width: 768px) {
       font-size: 5rem;
    }
}
.heading--medium{
  font-size: 3rem;
  @media (max-width: 768px) {
     font-size: 2rem;
  }
}
.heading--small{
  font-size: 2rem;

}
.heading--xs{
  font-size: 1.5rem;
  font-weight: bold;

}
.border{
    border-bottom: 5px solid #8f786a;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem 8rem 5rem 8rem;
    @media (max-width: 768px) {
    padding: 3.5rem 2rem 2.5rem 2rem;
    gap: 1rem;

   }
    /* overflow: hidden; */
}
.flexWrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 768px) {
    width: 80vw;
    height: 90vh;
 }
}
.columnWrapper{
  text-align: right;
  position: relative;
  max-width: 600px;
  display: flex;
  /* flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 4rem 0 4rem; */
  
}
.centerText{
  text-align: center;
  /* padding: 0 0 4rem; */

}
.rightText{
  text-align: right;
}
.columnWrapperEnd{
  position: relative;
  bottom: 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  
}

.panel {
  z-index: 99999;
    height: 100vh;
    width: 100vw;
}
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.container{
  position: relative;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 width: 100%;
}
.capitalize{
  text-transform: capitalize;
}
.caption {
  position: absolute;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.frame{
  padding: 1rem 1rem 4rem 1rem;
  @media (max-width: 768px) {
    padding: 0.7rem 0.7rem 3.5rem 0.7rem;
 }
}
